/* Delcare fontello font face (for icons) */
@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot?32934886');
    src: url('fonts/fontello.eot?32934886#iefix')    format('embedded-opentype'),
         url('fonts/fontello.woff?32934886')         format('woff'),
         url('fonts/fontello.ttf?32934886')          format('truetype'),
         url('fonts/fontello.svg?32934886#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Declare fontello classes */
.icon-resize-full:before { font-family: 'fontello'; content: '\e800'; }
.icon-link-ext:before    { font-family: 'fontello'; content: '\f08e'; }
.icon-twitter:before     { font-family: 'fontello'; content: '\f099'; }
.icon-facebook:before    { font-family: 'fontello'; content: '\f09a'; }
.icon-linkedin:before    { font-family: 'fontello'; content: '\f0e1'; }

/* Hide empty elements */
p:empty   { display: none; }
div:empty { display: none; }

/* General functionality */
.code4-center-text {
    text-align: center;
}
.code4-text-height {
    height: 1em;
}

body {
    font-size: 120%;
    font-family: 'Titillium Web', sans-serif;
    
    /* Reset sizings */
    margin: 0; padding: 0; border: 0;
}

p, ul, ol {
    /* Only paragraphs and lists should have serifs */
    font-family: 'Titillium Web', serif;
}

h1, h2, h3, h4, h5, h6, button {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

/* Anchors */
a {
    color: #fc0;
    background-color: #352245;
    text-decoration: underline;
    white-space: nowrap;
}
a:hover {
    background-color: #fc0;
    color: #352245;
    text-decoration: none;
}

/* Add external URL symbol to hrefs */
a[href^='http']:after {
    font-family: 'fontello';
    content: '\00a0\f08e';
}

/* Normal section */
section.code4.code4-section {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

@media (min-width: 768px) {
    section.code4.code4-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 5rem;
    }
}

/* Small section */
section.code4.code4-section.code4-section-small {
    padding: 0;
}
section.code4.code4-section.code4-section-small div.code4.code4-content {
    padding: 0;
    margin: 0;
}
section.code4.code4-section.code4-section-small a {
    color: black;
    background: none;
}
section.code4.code4-section.code4-section-small p {
    margin: 1rem;
}

/* Dark section */
section.code4.code4-section.code4-section-dark {
    background-color: #352245; 
    color: #fc0;
}

/* Normal content */
section.code4.code4-section div.code4.code4-content {
    max-width: 40rem;
    padding: 3rem;
    margin: -6rem 0 0 0;
}

/* Full width content */
section.code4.code4-section div.code4.code4-content-full {
    width: 100%;
}

/* Highlighted content */
section.code4.code4-section div.code4.code4-content.code4-content-alt {
    background-color: #fc0;
    color: #352245;
}
section.code4.code4-section div.code4.code4-content.code4-content-alt a {
    background-color: #fc0;
    color: #352245;
    text-decoration: underline;
    white-space: nowrap;
}
section.code4.code4-section div.code4.code4-content.code4-content-alt a:hover {
    
    color: #fc0;
    background-color: #352245;
    text-decoration: none;
}

/* Footer content */
section.code4.code4-section div.code4.code4-content.code4-content-footer {
    text-align: center;
    font-size: 1.2rem;
}
section.code4.code4-section div.code4.code4-content.code4-content-footer p {
    font-family: 'Titillium Web', sans-serif;
}

/* Code4 buttons */
button.code4.code4-button {
    font-size: 1.1rem;
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    
    background-color: #352245;
    color: #fc0;
    
    cursor: pointer;
}
button.code4.code4-button:hover {
    color: #352245;
    background-color: #fc0;
}
button.code4.code4-button-square {
    width: 50px;
    height: 50px;
}
div.code4.code4-content-alt button.code4.code4-button {
    color: #352245;
    background-color: #fc0;
    border: 1px solid #352245;
}
div.code4.code4-content-alt button.code4.code4-button:hover {
    background-color: #352245;
    color: #fc0;
}

/* Leaflet */
.leaflet-control-zoom-out, .leaflet-control-zoom-in {
    border-radius: 0 !important;
}
.leaflet-bar {
    box-shadow: none;
}
.leaflet-bar a, .leaflet-bar a:hover {
    border-bottom: none;
}

/* Special cases */
#theMapContainer {
    width: 100%;
}
#theMap {
    height: 27rem;
}
#theDonateButton {
    background-color: #3eb14d;
    color: white;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    font-weight: bold;
}
#theDonateButton:hover {
    background-color: #5DCD66;
}
