<!doctype html>

<html lang="{{.Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    {{ block "main" . }}
    {{ end }}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script>

        /**
         * Converts from degrees to radians.
         */
        function toRadians(degrees) {
            return degrees * Math.PI / 180;
        }

        /**
         * Returns the distance between two points on Earth using the haversine
         * formula.
         */
        function getEarthDistance(lat1, lon1, lat2, lon2) {
            var R = 6371e3; // Earth's radius in meters.
            var φ1 = toRadians(lat1);
            var φ2 = toRadians(lat2);

            var Δφ = toRadians(lat2-lat1);
            var Δλ = toRadians(lon2-lon1);

            var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +
                    Math.cos(φ1) * Math.cos(φ2) *
                    Math.sin(Δλ/2) * Math.sin(Δλ/2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            var d = R * c;
            return d;
        }

        var fullScreenControl = L.Control.extend({
            options: {
                position: 'topleft'
            },
            onAdd: function (map) {
                var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
                container.style.backgroundColor = 'white';
                container.style.width = '30px';
                container.style.height = '30px';
                container.innerHTML = '<a class="code4 code4-leaflet-control-fullScreen" href="#" title="Fullscreen" role="button" aria-label="Fullscreen">F</a>'
                container.onclick = function(e) {
                    e.preventDefault();
                    map.toggleFullscreen();
                }
                return container;
            }
        });

        var map = L.map('theMap').setView([51.505, -0.09], 8);
        map.addControl(new fullScreenControl());

        L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.svg?lang=ro', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            fullScreenControl: true,
            zoomControl: false
        }).addTo(map);

        // Create Vot Diaspora marker icon
        var votDiasporaMarker = L.icon({
            iconUrl: 'marker.png',
            iconSize: [20, 39],
            iconAnchor: [10, 39]
        });

        let locations = [];

        // Get the JSON with locations
        fetch('data.json')
            .then(res => res.json())
            .then((out) => {
                locations = out.locations;
                for (const location of locations) {
                    const messageHtml =
                        '<b>' + location.name + '</b><br>' + location.address
                    L.marker(location.coordinates, {
                        'title': location.name,
                        'icon': votDiasporaMarker
                    }).bindPopup(messageHtml, {
                        offset: [0, -34]
                    }).addTo(map);
                }
            }).catch(err => console.error(err));

        let theLocateButton = document.getElementById('the-locate-button');
        theLocateButton.addEventListener('mouseup', function(e) {

            // Get user's current geolocation
            navigator.geolocation.getCurrentPosition(function(position) {
                
                console.log(position);

                let myLat = position.coords.latitude;
                let myLon = position.coords.longitude;

                // Sort locations by distance to user
                locations = locations.sort(function(l1, l2) {
                    let lat1 = l1.coordinates[0];
                    let lon1 = l1.coordinates[1];
                    let lat2 = l2.coordinates[0];
                    let lon2 = l2.coordinates[1];
                    let d1 = getEarthDistance(myLat, myLon, lat1, lon1);
                    let d2 = getEarthDistance(myLat, myLon, lat2, lon2);
                    return d1 > d2;
                });

                // for (const location of locations) {
                //     console.log(location.country, Math.floor(getEarthDistance(myLat, myLon, location.coordinates[0], location.coordinates[1])))
                // }
                
                const theLocations = document.getElementById('theLocations');
                theLocations.innerHTML = '<ol>';
                for (let i = 0; i < 6; ++i) {
                    theLocations.innerHTML += '<li>' + locations[i].address + ', ' + locations[i].country + '</li>';
                }
                theLocations.innerHTML += '</ol>';

                map.setView([
                    position.coords.latitude,
                    position.coords.longitude
                ], 13);
            });
        });

        let theMap = document.getElementById('theMap');
        let scrollY = 0;
        let isFullScreen = false;
     </script>

</body>

</html>
