/* Delcare fontello font face (for icons) */
@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot?32934886');
    src: url('fonts/fontello.eot?32934886#iefix')    format('embedded-opentype'),
         url('fonts/fontello.woff?32934886')         format('woff'),
         url('fonts/fontello.ttf?32934886')          format('truetype'),
         url('fonts/fontello.svg?32934886#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Declare fontello classes */
.icon-resize-full:before { font-family: 'fontello'; content: '\e800'; }
.icon-link-ext:before    { font-family: 'fontello'; content: '\f08e'; }
.icon-twitter:before     { font-family: 'fontello'; content: '\f099'; }
.icon-facebook:before    { font-family: 'fontello'; content: '\f09a'; }
.icon-linkedin:before    { font-family: 'fontello'; content: '\f0e1'; }

/* General functionality */
.code4-center-text {
    text-align: center;
}
.code4-text-height {
    height: 1em;
}

body {
    margin: 0; 
    padding: 0; 
    border: 0;
}

section.code4.code4-section div.code4.code4-content {
    font-family: 'Titillium Web', sans-serif;
    font-size: 120%;
}

section.code4.code4-section div.code4.code4-content h1, 
section.code4.code4-section div.code4.code4-content h2, 
section.code4.code4-section div.code4.code4-content h3, 
section.code4.code4-section div.code4.code4-content h4, 
section.code4.code4-section div.code4.code4-content h5, 
section.code4.code4-section div.code4.code4-content h6, 
section.code4.code4-section div.code4.code4-content button {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

/* Anchors */
section.code4.code4-section
    div.code4.code4-content a {
    text-decoration: underline;
    white-space: nowrap;
}
section.code4.code4-section
    div.code4.code4-content
        a:hover {
    text-decoration: none;
}
/* Add external URL symbol to hrefs */
a[href^='http']:after {
    font-family: 'fontello';
    content: '\00a0\f08e';
}

/* Layout */
section.code4.code4-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

section.code4.code4-section.code4-section
    div.code4.code4-content {
        padding: 0 3rem;
        max-width: 40rem;
}

section.code4.code4-section.code4-section
    div.code4.code4-content.code4-content-special {
        padding: 3rem;
}

section.code4.code4-section.code4-section-normal {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    section.code4.code4-section.code4-section-normal {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

button.code4.code4-button {
    font-size: 1.1rem;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
}
button.code4.code4-button-square {
    width: 3em;
    height: 3em;
}

section.code4.code4-section.code4-section-small
    div.code4.code4-content p {
        font-size: 4vw;
}

@media (min-width: 400px) {
    section.code4.code4-section.code4-section-small
        div.code4.code4-content p {
            font-size: 1em;
    }
}

/* Coloring */
section.code4.code4-section.code4-section-light {
    background-color: #FFF;
}
section.code4.code4-section.code4-section-light
    div.code4.code4-content
        button.code4.code4-button {
            background-color: #352245;
            color: #FFF;
            border: 1px solid #352245;
}
section.code4.code4-section.code4-section-light
    div.code4.code4-content
        button.code4.code4-button:hover {
            background-color: #FFF;
            color: #000;
            border: 1px solid #000;
}
section.code4.code4-section.code4-section-dark {
    background-color: #352245;
}
section.code4.code4-section.code4-section-dark 
    div.code4.code4-content {
        color: #FC0;
}
section.code4.code4-section.code4-section-dark 
    div.code4.code4-content
        a {
            color: #FC0;
}
section.code4.code4-section.code4-section-dark 
    div.code4.code4-content
        a:hover {
            background: #FC0;
            color: #352245;
}
section.code4.code4-section 
    div.code4.code4-content.code4-content-special {
        background-color: #FC0;
        color: #352245;
}
section.code4.code4-section 
    div.code4.code4-content.code4-content-special
        button.code4.code4-button {
        border: 1px solid #352245;
        background-color: #352245;
        color: #FC0;
    }
section.code4.code4-section 
    div.code4.code4-content.code4-content-special
        button.code4.code4-button:hover {
        border: 1px solid #352245;
        background-color: #FC0;
        color: #352245;
}
section.code4.code4-section 
    div.code4.code4-content.code4-content-special
        a {
            color: #352245;
}
section.code4.code4-section 
    div.code4.code4-content.code4-content-special
        a:hover {
            background-color: #352245;
            color: #FC0;
}

/* IDs used for special cases */
#theMapContainer {
    width: 100%;
    margin: 3rem;
}

@media (max-width: 768px) {
    /* We do this because on small screens we want the map to connect with
     * the section below it. */
    #theMapContainer { margin-bottom: 0; }
    section.code4.code4-section.code4-section-map { padding-bottom: 0; }
}

#theMap { height: 27rem; }
#theDonateButton {
    background-color: #3eb14d;
    color: white;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    font-weight: bold;
}
#theLocations ol {
    list-style: none;
    padding: 0;
    column-count: 2;
    column-gap: 1px;
    column-rule: 1px solid white;
    font-size: 80%;
}
#theLocations li {
    background-color: #352245;
    color: #FFF;
    display: inline-block;
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    padding: 1em;
}
#theLocations ol li h1 {
    text-align: left;
    text-transform: none !important;
}
#theLocations ol li {
    font-size: 75%;
}
#theLocations li:hover {
    color: #000;
    background-color: #FC0;
    cursor: pointer;
}
/*#theDonateButton:hover {*/
/*    background-color: #5DCD66;*/
/*}*/

.leaflet-popup-content h1 {
    margin: 0 !important;
    font-size: 80%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    box-shadow: none;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
    /*background-color: #FC0;*/
    color: #352245;
    border: 5px solid #352245;
}

.leaflet-popup-tip {
    background-color: #352245;
}

hr {
    height: 1px;
    border: none;
    border-bottom: 1px solid #352245;
}

.code4-map-circle-icon {
    background-color: #FC0;
    /*border: 1px solid #352245;*/
    border-radius: 100px;
    box-sizing: border-box;
}
