@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap');
@import './variables.css';

/* Typography */
html { font-family: 'Titillium Web', sans-serif; font-size: 20px; }
input, textarea, button { font-family: inherit; }
      h1 { font-weight: 300;  font-size: 2.2em; }
      h2 { font-weight: 600;  font-size: 1.9em; }
      h3 { font-weight: 600;  font-size: 1.6em; }
      h3 { font-weight: 600;  font-size: 1.5em; }
   p, li { font-weight: 300;  font-size: 1em; }

h3:after {
    content:' ';
    display: block;
    border-bottom: 1px solid var(--color-primary);
    opacity: .1;
    width: 75%;
}

h1, h2 { text-transform: uppercase; text-align: center; }

/* Layout */
body { margin: 0; }

/* Styling */
a { text-decoration: none; }

/* Gradient background */
.main-container {
  background-color: var(--color-primary);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

button {
  user-select: none;
  outline: none;
}
