<section class='code4 code4-section'>
   <div class='content'>
      <h1>Înființarea unei secții</h1>
      <p>Cea mai apropiată secție de vot e totuși prea departe de orașul sau satul unde locuiești?</p>
      <p>Poți cere înființarea unei secții de votare mai aproape de tine. Poți completa <a href='https://facem.declic.ro/campaigns/trimite-email-aep-mae'>acest formular</a> cu datele tale și trimite către AEP și MAE.</p>
      <p>După ce vei trimite cererea, un e-mail de confirmare te va ghida pentru trimiterea acesteia și către Ambasada României din țara unde locuiești.</p>
      </p>  
   </div>
</section>