@import '../../css/variables.css';

.hero {
  animation: fadeIn linear 0.5s;
  color: var(--color-secondary);

  & > div {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
